.item-contacto {
    display: flex;
    align-items: center;
    gap: 14px;

    padding: 14px 18px;
    border-radius: 16px;

    background: rgba(255, 255, 255, 0.2);
    color: black;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    animation: fadeIn 0.4s ease forwards;
}

.item-contacto img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: rgba(255,255,255,0.3);
    padding: 6px;
}

.item-contacto p {
    font-size: 15px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
