/* =========================
   RESET GLOBAL
========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =========================
   BODY
========================= */
body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #4facfe, #00c6ff);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* =========================
   ROOT
========================= */
#root {
  width: 100%;
  height: 100%;
}

/* =========================
   SCROLL
========================= */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #4facfe;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #f0f2f5;
}

/* =========================
   RESPONSIVE
========================= */
@media (max-width: 768px) {
  body {
    background: #f0f2f5;
  }
}
